/* body {
  background-color: red;
} */

.hideDetails {
  visibility: hidden;
}

/* Ex1 */
@keyframes animoJumbo {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

#jumbotron {
  animation: animoJumbo 550ms ease-in;
  background-image: url("http://www.famoussingers.org/images/joe-cocker.jpg");
  background-size: cover;
  background-position: 50%;
  color: white;
}

/* Ex3 */
.badgeStyling {
  position: absolute;
  top: 0;
}

/* Ex 6 */
#addTrack {
  text-align: center;
}

#addTrack:hover {
  box-shadow: 1px 2px 3px 4px rgba(12, 12, 12, 0.2);
}

/* Ex 8 */
.modal-body input {
  padding: 0.5rem;
  border-radius: 3px;
  border: 1px solid lightgray;
}
